<a href="https://colab.research.google.com/github/Kimsumin1234/pandas/blob/main/01_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## 데이터 타입

### 1.Series(https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

<img src="https://bites-data.s3.us-east-2.amazonaws.com/series_spreadsheet.png" width="300" height="200">

In [ ]:
import pandas as pd # 판다스 별칭 pd
import numpy as np # 넘파이 별칭 np

### 생성
#### 1) 리스트

In [ ]:
# 리스트에서 시리즈 생성 가능
series = pd.Series([70,60,90]) # Series Values 만 넣음

In [ ]:
# index 를 지정하지 않는다면 자동으로 0 부터 시작
# dtype : 데이터 타입
# 64 : 64바이트

series

0    70
1    60
2    90
dtype: int64

#### 2) 딕셔너리

In [ ]:
series = pd.Series({"a":1,"b":2,"c":3})

In [ ]:
# 딕셔너리의 경우에는 key 값을 인덱스로 사용

series

a    1
b    2
c    3
dtype: int64

In [ ]:
# 리스트 일경우, index 지정하는 방법

series = pd.Series([70,60,90],index=["국어","영어","수학"])

In [ ]:
series

국어    70
영어    60
수학    90
dtype: int64

#### 3) ndarray

In [ ]:
# 넘파이를 이용해서 시리즈 생성

series = pd.Series(np.random.randn(4),index=list("abcd"))
series

a   -1.451601
b    0.534157
c    0.155370
d   -0.421744
dtype: float64

#### 4) DataFrame 이용

In [ ]:
df = pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8]})

In [ ]:
# a 열 1개가 시리즈가 되는것
# 데이타프레임은 시리즈를 여러개 모은형태

df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [ ]:
series = pd.Series(df["a"])
series

0    1
1    2
2    3
3    4
Name: a, dtype: int64

### 조회

In [ ]:
series = pd.Series([70,60,90],index=["국어","영어","수학"])

In [ ]:
# index 조회
# '국어' 가 문자여서 dype은 object 로 나온다

series.index

Index(['국어', '영어', '수학'], dtype='object')

In [ ]:
# value 조회

series.values

array([70, 60, 90])

In [ ]:
# name 조회
# name 이 없으면 아무것도 안나옴

series.name

'정수'

In [ ]:
# name 수정(부여)

series=series.rename("정수")

In [ ]:
series

국어    70
영어    60
수학    90
Name: 정수, dtype: int64

- 인덱싱 가능 (인덱스 번호 혹은 라벨명)

In [ ]:
series[0]

70

In [ ]:
# 인덱스를 안줫을때 기본으로 국어 자리에 인덱스가 0 이여서 같은결과가 나온다

series["국어"]

70

In [ ]:
# 0, 2 조회

# series[0:2] 0번 1번 조회

# series[0,2] # KeyError

series[[0,2]]

국어    70
수학    90
Name: 정수, dtype: int64

- 전체 구조 파악

In [ ]:
# 전체구조파악은 자주 쓰인다 기억해두면 좋음

series.shape

(3,)

In [ ]:
# head() : 기본은 앞 쪽에서 데이터 5행 가져옴

series.head()

국어    70
영어    60
수학    90
Name: 정수, dtype: int64

In [ ]:
series.head(2)

국어    70
영어    60
Name: 정수, dtype: int64

In [ ]:
# tail() : 기본은 끝 에서 데이터 5행 가져옴

series.tail()

국어    70
영어    60
수학    90
Name: 정수, dtype: int64

In [ ]:
series.tail(2)

영어    60
수학    90
Name: 정수, dtype: int64

### 수정
><b>index 수정</b>

In [ ]:
series.index = (["미술","음악","체육"])
series

미술    70
음악    60
체육    90
Name: 정수, dtype: int64

><b>특정 값 수정</b>

In [ ]:
series["미술"] = 75
series["미술"]

75

><b>데이터 타입 변경</b>

In [ ]:
series1 = pd.Series([1,1,1])
series1

0    1
1    1
2    1
dtype: int64

In [ ]:
# astype(변경타입) : 원본은 바뀌지 않음

series1.astype("float")

0    1.0
1    1.0
2    1.0
dtype: float64

In [ ]:
series1

0    1
1    1
2    1
dtype: int64

In [ ]:
# 다시 담아야 변경
# 원본 변경을 원할때는 다시 감기

series1 = series1.astype("float")
series1

0    1.0
1    1.0
2    1.0
dtype: float64

**astype 사용 시 주의점 : 변경할 수 없는 데이터가 들어있는 경우**

In [ ]:
series1 = pd.Series(["1.1","2.2","3.3"]) # object 타입
series1.astype("float")

0    1.1
1    2.2
2    3.3
dtype: float64

In [ ]:
# 못 바꾸는 데이터가 있을경우 에러가 난다

series1 = pd.Series(["test","2.2","3.3"]) # object 타입
series1.astype("float")

ValueError: could not convert string to float: 'test'

### 삭제
><b>특정 행 삭제</b>

In [ ]:
series

미술    75
음악    60
체육    90
Name: 정수, dtype: int64

In [ ]:
del series["체육"]

In [ ]:
series

미술    75
음악    60
Name: 정수, dtype: int64